.signup-page-container {
    color: white;
    h3 {
        margin: 0;
    }
    form {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input:focus {
            outline: 0;
        }
        button {
            width: fit-content;

        }
        align-items: center;
    }
}