.charts-page-container {
    .chart {
        background-color: black;
        padding: 20px 0 0 0;
    }
    max-width: 90%;
    margin: 0 auto;
    h1 {
        color: white;
        margin-bottom: 0;
    }
}